<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>704274026750-vkuj9i5co6gtsq8of74gp7och1tajvgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704274026750-vkuj9i5co6gtsq8of74gp7och1tajvgd</string>
	<key>API_KEY</key>
	<string>AIzaSyDLcXoZdx1CQgVp-w7j1bdQE8NP2Aabyrg</string>
	<key>GCM_SENDER_ID</key>
	<string>704274026750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.docDevs.pokeSearch.pokeSearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-48746</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-48746.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:704274026750:ios:a12f2ac47bf87e51</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-48746.firebaseio.com</string>
</dict>
</plist>